@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.card-container {
  padding: 15px 15px;
  position: absolute;
  top: 20%;
  left: 0%;
  height: 300vh;
  max-width: 100vw;
  box-sizing: border-box;
  background-image: url("../assets/container.jpg");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-gap: 10px;

  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 10);
}

.custom-card {
  max-height: 45vh;
  width: 25vw;
  background-color: #8cc2f7;
  opacity: 0.85;
  border: 3px solid;
  color: #020202;
  padding: 5%;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-size: 16px;
  font-weight: 600;
}
.card:hover {
  transform: scale(1.1);
}
.select-container {
  position: relative;
}

.select-container select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.delete-button {
  width: 20%;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  left: 40%;
  background-color: #bb2525;
  color: #fff;
}
.app-heading {
  position: absolute;
  top: 10%;
  left: 46%;
  z-index: 1;
  padding: 10px;
}
.add-task {
  position: absolute;
  top: 0;
  right: 7%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}

/* Media query for mobile devices (up to 767px) */
@media screen and (max-width: 767px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row */
  }
}
